.App {
  width: 600px;
  position: relative;
}

.leftUnit {
  position: absolute;
  top: 37px;
  left: 20px;
  font-size: 12px;
  font-weight: 500;
  color: rgba(98, 111, 134, 1);
  line-height: 17px;
}

.rightUnit {
  position: absolute;
  top: 37px;
  right: 0px;
  font-size: 12px;
  font-weight: 500;
  color: rgba(98, 111, 134, 1);
  line-height: 17px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  color: rgba(187, 231, 246, 1);
  line-height: 22px;
}
.bottomTitle {
  font-size: 12px;
  font-weight: 400;
  color: rgba(98, 111, 134, 1);
}

.left {
  display: inline-block;
  text-align: right;
  width: 45%;
  border-top: 1px solid rgba(27, 50, 88, 1);
  padding-right: 10px;
}
.right {
  display: inline-block;
  text-align: left;
  width: 45%;
  border-top: 1px solid rgba(27, 50, 88, 1);
  padding-left: 10px;
}
